# Ignore Node dependencies anywhere they appear
**/node_modules/

# Ignore secrets
**/.env
**/.env.local

# Logs
logs
*.log
npm-debug.log*

# OS specific files
.DS_Store
Thumbs.db

# Coverage reports and logs
coverage/
.nyc_output/
.c8_output/
node_modules/.cache/
.stryker-tmp/
reports/